{% extends 'base.html' %} {% load static i18n %} {% block title %}{% trans
'Movie' %}: {{ object.title }}{% endblock %} {% block content %}
<h3>{{ object.title }}</h3>
<div class="row">
  <div class="col-sm-12">
    <dl class="row">
      <dt class="col-sm-1">YEAR:</dt>
      <dd class="col-sm-4">{{ object.year }}</dd>
      <dt class="col-sm-1">RATED:</dt>
      <dd class="col-sm-6">{{ object.rated }}</dd>
      <dt class="col-sm-1">RELEASED:</dt>
      <dd class="col-sm-4">{{ object.released_on }}</dd>
      <dt class="col-sm-1">GENRE:</dt>
      <dd class="col-sm-6">{{ object.genre }}</dd>
      <dt class="col-sm-1">DIRECTOR:</dt>
      <dd class="col-sm-4">{{ object.director }}</dd>
      <dt class="col-sm-1">PLOT:</dt>
      <dd class="col-sm-6">{{ object.plot }}</dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <a href="{% url 'movies:createRating' object.pk %}">Add a Rating</a>
  </div>
</div>
{% for rating in object.rating_set.all %}
<div class="row">
  <div class="col-sm-1">
   <a href="{% url 'movies:updateRating' object.pk rating.pk%}">Edit</a>
  </div>
  <div class="col-sm-1">
    Rating:
  </div>
  <div class="col-sm-1">
    {{ rating.value }} out of 5
  </div>
  <div class="col-sm-1">
    Comment:
  </div>
  <div class="col-sm-8">
    {{ rating.comment }}
  </div>
</div>
{% endfor%}
{% endblock %}
